div#blok1 {
    width: 100px;
    height: 100px;
}

div#blok2 {
    width: 110px;
    height: 110px;
}

div#blok3 {
    width: 110px;
    height: 110px;

}

div#blok4 {
    width: 110px;
    height: 110px;

}
